body {
  margin: 0;
  padding: 0;
  font-family: 'open-sauce-one', 'arial', sans-serif;
}

@font-face {
  font-family: 'open-sauce-one';
  src: url(assets/font/OpenSauceOne-Regular.ttf) format('opentype');
}
